<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic Forum - Super Reports</title>
    
    <link rel="stylesheet" href="/static/styleHome.css">
    <link rel="stylesheet" href="/static/styleModals.css">

    <!-- HIDDEN ELEMENTS -->
    {{ template "modules.html" . }}

    <div id="active-user-role" data-value='{{.ActiveUserRole}}' style="display: none;"></div>
    <div id="active-user-name" data-value='{{.ActiveUsername}}' style="display: none;"></div>
    <div id="reports-json" data-value='{{.SuperReports}}' style="display: none;"></div>
    

</head>

<!-- Store JSON in data attributes (hidden divs) -->

<body>
    <!-- loaded through script -->
    <div id="header-container"></div>

    <!-- loaded through script -->
    <div id="modals-container"></div>

    <!-- Wrap content inside this container -->
    <div id="content-container">

        <div class="layout">
            
            <div class="post-section">
                    <div id="posts-container" class="posts-container"></div>
                
            </div>

            <!-- Right Block -->
            <div id="right-block-container"></div>
        </div>
    </div>

 

    <script src="/js/elementConstructor.js"></script>
    <script src="/js/loadComponent.js" defer></script>
    <script src="/js/sendJsonReq.js" defer></script>
    <script src="/js/SseNotification.js" defer></script>
    <script src="/js/IndexSuperReportsScript.js" defer></script>
</body>

</html>


<script>
    window.addEventListener("DOMContentLoaded", () => {
      
        try {
            const raw = `{{ .SuperReports }}`;
            const parsed = JSON.parse(raw);
            allPosts = parsed.posts || [];
            refreshPosts(allPosts)



        } catch (err) {
            console.error("Error parsing posts JSON", err);
        }
    });
</script>